@page
@using System.Globalization
@using important_game.ui.Core.Models

@model IndexModel
@{
    ViewData["Title"] = "Excitment Matches";
}
<div class="watch-explanation">
    <p>
        <b><i>Exciment Score (ES)</i></b> is an indication of how enthusiastic and excited the match might be worth to watch. It takes into consideration different factors such as league table, <i>head to head</i> and many others.
    </p>
    <p> With values closer to <i>100</i> it's expected to be an interesting match to watch, while a value closer to <i>0</i> might not be so excited to watch.</p>

</div>




<div>
    <h6>Matches</h6>
</div>
<div class="match-content">

    @foreach (var groupedLeague in Model.Matches.UpcomingMatch.GroupBy(c => c.League.Id))
    {
        var league = groupedLeague.FirstOrDefault().League;

        <div class="match-block" data-league="@league.Id">
            <div class="match-block-header" style="background-color:@(league.BackgroundColor)">
                <div>
                    <img src="@("https://api.sofascore.app/api/v1/unique-tournament/" + league.Id + "/image")" alt="@(league.Name)" />
                </div>
                <div class="match-header-title" style="color:@(league.PrimaryColor)">
                    @league.Name
                </div>
            </div>
            @foreach (var match in groupedLeague)
            {
                <div class="match-block-content">
                    <div class="match-block-time">
                        <time>
                            @match.MatchDate.ToString("yyyy-MM-ddTHH:mm:ssZ", CultureInfo.InvariantCulture)
                        </time>
                    </div>
                    <div class="match-block-item">
                        <div class="match-block-team">
                            <img src="@("https://api.sofascore.app/api/v1/team/" + match.HomeTeam.Id + "/image")" alt="@(match.HomeTeam.Name)" />
                            <div>
                                @match.HomeTeam.Name
                            </div>
                        </div>
                        <div class="match-block-team">
                            <img src="@("https://api.sofascore.app/api/v1/team/" + match.AwayTeam.Id + "/image")" alt="@(match.AwayTeam.Name)" />
                            <div>
                                @match.AwayTeam.Name
                            </div>
                        </div>
                    </div>
                    <div class="match-block-item">
                        <div class="match-block-team">
                            <div class="match-card-team-lastfixtures">
                                @for (int i = match.HomeTeam.LastFixtures.FixtureResult.Count - 1; i >= 0; i--)
                                {
                                    var fixtureResult = match.HomeTeam.LastFixtures.FixtureResult[i];
                                    <i class="es-circle-fill @("match-result-" + fixtureResult.ToLowerInvariant())"></i>
                                }
                            </div>
                        </div>
                        <div class="match-block-team">
                            <div class="match-card-team-lastfixtures">
                                @for (int i = match.AwayTeam.LastFixtures.FixtureResult.Count - 1; i >= 0; i--)
                                {
                                    var fixtureResult = match.AwayTeam.LastFixtures.FixtureResult[i];
                                    <i class="es-circle-fill @("match-result-" + fixtureResult.ToLowerInvariant())"></i>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="match-block-data match-block-data-es">
                        <div class="match-block-data-title">
                            <label>Excitement Score</label>
                        </div>
                        <div class="match-block-data-value" title="Excitement Score">
                            @if (match.ExcitementScore > 0.7d)
                            {
                                <i class="es-fire"></i>
                            }
                            @(Math.Round(match.ExcitementScore * 100, 0))
                        </div>
                    </div>
                </div>
            }




        </div>
    }


</div>

@section Scripts {
    <script>
        $("time").each(function (elem) {
            var utctimeval = $(this).html().trim();
            var date = new Date(utctimeval);
            var optionsDate = {
                day: "2-digit",
                month: "2-digit",
                year: "numeric",
            };
            var optionsTime = {
                hour: "numeric",
                minute: "numeric",
            };
            $(this).html(date.toLocaleString("pt", optionsDate) + "<br/>" + date.toLocaleString("pt", optionsTime));
        });
    </script>

}