@page "/match/{id:int}"
@using System.Globalization
@using important_game.infrastructure.Extensions
@using important_game.infrastructure.ImportantMatch
@using important_game.infrastructure.ImportantMatch.Models
@model MatchModel
@{
    var matchInfo = Model.MatchInfo;

    if (matchInfo != null)
    {
        ViewData["Title"] = $"{matchInfo.HomeTeamName} v {matchInfo.AwayTeamName} - Excitement Analysis & Live Updates";
    }
    else
    {
        ViewData["Title"] = $"Excitment Match Not Found";
    }
}


@if (matchInfo == null)
{
    <div>Sorry, we couldn't find any excitment report for this match</div>
    return;
}

@section Header {
    @{
        var teamId = matchInfo.TitleHolderId ?? matchInfo.HomeTeamId;
        if (matchInfo.AwayTeamTablePosition < matchInfo.HomeTeamTablePosition)
            teamId = matchInfo.AwayTeamId;

        var url = "https://matchtowatch.net/match/" + matchInfo.MatchId;
        var image = "/images/" + teamId;
    }
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@Html.Raw(matchInfo.HomeTeamName) vs @Html.Raw(matchInfo.AwayTeamName) - Match to watch">
    <meta name="twitter:description" content="Follow the @Html.Raw(matchInfo.CompetitionName) match on @matchInfo.MatchDateUTC.ToString("dd/MM/yyyy HH:mm") UTC time. Excitement Score: @(Math.Round((/* matchInfo.IsLive  */ false ? 0d /* matchInfo.LiveExcitementScore */ : matchInfo.ExcitmentScore) * 100, 0)). Key moments and stats here!">
    <meta name="twitter:image" content="@image">
    <meta name="twitter:url" content="@url">
}
<div class="match-detail" data-live="@(false)@* matchInfo.IsLive *@">
    <div class="match-detail-content-left">
        <span class="match-detail-back"><i class="bi bi-arrow-left"></i>BACK</span>
        <div class="match-detail-info match-detail-card">
            <div class="match-detail-league">
                <div>
                    <img src="@("/images/competition/" + matchInfo.CompetitionId + ".png")" alt="@(matchInfo.CompetitionName)" />
                </div>
                <div class="match-detail-league-title">
                    @matchInfo.CompetitionName
                </div>
                <div class="match-detail-time">
                    <time>
                        @matchInfo.MatchDateUTC.ToString("dd/MM/yyyy HH:mm", CultureInfo.InvariantCulture)
                    </time>
                </div>
            </div>
            <div class="match-detail-teams">
                <div class="match-detail-team-info">
                    <img src="@("/images/team/" + matchInfo.HomeTeamId + ".png")" alt="@(matchInfo.HomeTeamName)" />
                    <p>@matchInfo.HomeTeamName</p>
                </div>
                <div class="match-detail-team-label">
                    <span>vs</span>
                </div>
                <div class="match-detail-team-info">
                    <img src="@("/images/team/" + matchInfo.AwayTeamId + ".png")" alt="@(matchInfo.AwayTeamName)" />
                    <p>@matchInfo.AwayTeamName</p>
                </div>
            </div>
        </div>
        @* HEAD TO HEAD *@
        <div class="match-detail-info match-detail-card match-detail-info-h2h">
            <h1>Head to Head History</h1>
            <div class="match-detail-info-h2h-content">
                @if (matchInfo.HeadToHead.Count == 0)
                {
                    <span class="match-detail-info-h2h-empty">No matches between <i>@(matchInfo.HomeTeamName)</i> and <i>@(matchInfo.AwayTeamName)</i> the past two years </span>
                }
                else
                {
                    foreach (var match in matchInfo.HeadToHead)
                    {
                        <div class="match-detail-info-h2h-item">
                            <span class="h2h-date">@match.MatchDateUTC.ToString("dd/MM/yyyy")</span>
                            <div class="h2h-match">
                                @if (match.HomeTeamScore > match.AwayTeamScore)
                                {
                                    <span>@(match.HomeTeamName)</span>
                                    <span>@(match.HomeTeamScore)</span>
                                    <span>-</span>
                                    <span class="lost">@(match.AwayTeamScore)</span>
                                    <span class="lost">@(match.AwayTeamName)</span>
                                }
                                else if (match.AwayTeamScore > match.HomeTeamScore)
                                {
                                    <span class="lost">@(match.HomeTeamName)</span>
                                    <span class="lost">@(match.HomeTeamScore)</span>
                                    <span>-</span>
                                    <span>@(match.AwayTeamScore)</span>
                                    <span>@(match.AwayTeamName)</span>
                                }
                                else
                                {
                                    <span>@(match.HomeTeamName) @(match.HomeTeamScore)-@(match.AwayTeamScore) @(match.AwayTeamName)</span>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        @* TEAMS FORM *@
        <div class="match-detail-info match-detail-card match-detail-info-form">
            <h1>Recent Form</h1>
            <div class="match-detail-info-form-content">
                <div>
                    <span>@matchInfo.HomeTeamName</span>
                    <div>
                        @foreach (var form in matchInfo.HomeTeamForm)
                        {
                            var formResult = form switch
                            {
                                MatchResultType.Win => "W",
                                MatchResultType.Draw => "D",
                                MatchResultType.Lost => "L",
                                _ => ""
                            };
                            <span data-form-score="@((int)form)">@formResult</span>
                        }
                    </div>
                </div>
                <div>
                    <span>@matchInfo.AwayTeamName</span>
                    <div>
                        @foreach (var form in matchInfo.AwayTeamForm)
                        {
                            var formResult = form switch
                            {
                                MatchResultType.Win => "W",
                                MatchResultType.Draw => "D",
                                MatchResultType.Lost => "L",
                                _ => ""
                            };
                            <span data-form-score="@((int)form)">@formResult</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="match-detail-content-right">
        @if (false)
        {
            <div class="match-detail-info match-detail-card match-detail-info-live">
                <div class="match-detail-info-live-title">
                    <p>Live</p>
                    <div class="match-detail-info-live-title-score">
                        <span>Score</span>
                        <div class="match-detail-info-esinfo-score" data-es="@(Math.Round(matchInfo.ExcitmentScore, 2).ToString().Replace(",", "."))">@(Math.Round(matchInfo.ExcitmentScore * 100, 0))</div>
                    </div>
                </div>
            </div>
        }
        <div class="match-detail-info match-detail-card match-detail-info-esdetail">
            <h1>Excitement Score Breakdown</h1>
            <div class="match-detail-info-esdetail-content">
                @foreach (var item in matchInfo.ExcitmentScoreDetail.Where(c => c.Value.Show))
                {
                    var scoreValue = Math.Round(item.Value.Value * 100, 0);
                    <div class="esdetail-item">
                        <div class="esdetail-title">
                            <span class="esdetail-name">@item.Key</span>
                            <span>@scoreValue</span>
                        </div>
                        <div class="progress esdetail-progress" role="progressbar" aria-label="@item.Key" aria-valuenow="@scoreValue" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: @(scoreValue)%"></div>
                        </div>
                        @* <div class="text-xs text-gray-500 mt-1" data-id="element-66">Weight: 30%</div> *@
                    </div>
                }
                @if (matchInfo.IsRivalry)
                {
                    <span><i class="bi bi-thermometer-high"></i>Rivalry</span>
                }
                @if (matchInfo.HasTitleHolder)
                {
                    <span><i class="bi bi-trophy"></i>Title Holder</span>
                }
            </div>
        </div>
        <div class="match-detail-info match-detail-card match-detail-info-esinfo">
            <div class="match-detail-info-esinfo-title">
                <i class="bi bi-broadcast-pin"></i>
                <span>Excitement Score</span>
            </div>
            <div class="match-detail-info-esinfo-score" data-es="@(Math.Round(matchInfo.ExcitmentScore, 2).ToString().Replace(",", "."))">@(Math.Round(matchInfo.ExcitmentScore * 100, 0))</div>
            <p>@matchInfo.Description</p>
        </div>


    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $(".match-detail-back").on("click", function () {
                history.back();
            });

        });
    </script>

}