@using System.Globalization
@using important_game.infrastructure.ImportantMatch.Models
@using important_game.web.Models
@model LiveExcitementMatch

<div class="card match-card-simple" data-game-day="@Model.MatchDate.ToString("MMMdd")" data-game-date="@Model.MatchDate.Ticks" data-game-score="@(Math.Round(Model.ExcitementScore * 100, 0))" data-game-league="@Model.League.Id">
    <div class="card-header match-header" style="background-color:@(Model.League.BackgroundColor);color:@(Model.League.PrimaryColor)">
        <div>
            <img src="@("https://api.sofascore.app/api/v1/unique-tournament/" + Model.League.Id  + "/image")" />
        </div>
        <div class="match-header-title">
            @Model.League.Name
        </div>
        <div class="match-card-time">
            <time>
                @Model.MatchDate.ToString("yyyy-MM-ddTHH:mm:ssZ", CultureInfo.InvariantCulture)
            </time>
        </div>
    </div>
    <div class="card-body match-card-body">
        <div class="match-card-teams">
            <div class="match-card-team">
                <div>
                    <img src="@("https://api.sofascore.app/api/v1/team/" + Model.HomeTeam.Id + "/image")" alt="@(Model.HomeTeam.Name)" />
                </div>
                <div class="match-card-team-name">
                    <span>@Model.HomeTeam.Name</span>
                </div>
            </div>
            <div class="match-card-team">
                <div>
                    <img src="@("https://api.sofascore.app/api/v1/team/" + Model.AwayTeam.Id + "/image")" alt="@(Model.AwayTeam.Name)" />
                </div>
                <div class="match-card-team-name">
                    <span>@Model.AwayTeam.Name</span>
                </div>
            </div>
        </div>
        <div class="match-card-info" style="margin-right:10px;">
            <div class="match-card-info-item">
                <div class="match-card-data-title">
                    Live Excitment score
                </div>
                <div class="match-card-data-value" title="Excitement Score">
                    @(Math.Round(Model.LiveExcitementScore * 100, 0))
                </div>
            </div>
            <div class="match-card-see-more">
            </div>
        </div>
        <div class="match-card-info">
            <div class="match-card-info-item">
                <div class="match-card-data-title">
                    Excitment score
                </div>
                <div class="match-card-data-value" title="Excitement Score">
                    @(Math.Round(Model.ExcitementScore * 100, 0))
                </div>
            </div>
            <div class="match-card-see-more">
                <a href="/match/@(Model.Id)">See more</a>
            </div>
        </div>
    </div>
</div>
